<section class="private-page-container">
    <h1>Offensive Comments</h1>
    <ng-container *ngIf="comments$ | async as comments">

        <ng-container *ngIf="comments.length > 0; else noComments" >
        <error-badge *ngIf="comments.error" [error]="comments.error" />

        <comment-list-item
                *ngFor="let comment of comments.entities"
                [comment]="comment"
                [canReply]="false"
                [hasAdminPrivileges]="true"
                [openedReplyBox$]="openedReplyBox$"
                (commentApproved)="onCommentApprove($event)"
                (commentRejected)="onCommentReject($event)"
                (openedReplyBox)="onReplyBoxOpened($event)"
                (closedReplyBox)="onReplyBoxClosed()"
        />
        </ng-container>

        <ng-template #noComments>
            <div *ngIf="!comments.loading" class="text-center">No comments here... yet.</div>
        </ng-template>

        <loading *ngIf="comments.loading" />

    </ng-container>
</section>
