<div class="surface-section px-4 py-5 md:px-6 lg:px-8 border-bottom-1 surface-border">
    <div class="flex align-items-start flex-column lg:flex-row lg:justify-content-between relative">
        <div class="flex align-items-start flex-column md:flex-row">
            <p-avatar [label]="this.initials" class="mr-5 mb-3 lg:mb-0 avatar" shape="circle" styleClass="bg-orange-500 col" [style]="{ color: '#ffffff' }"></p-avatar>

            <div>
                <span class="text-900 font-medium text-3xl">{{this.author?.firstName}} {{this.author?.lastName}}</span>
                <div class="flex align-items-center flex-wrap text-sm">
                    <div class="mr-5 mt-1">
                        <span class="font-medium text-500">Updated at:</span>
                        <p> {{article.updatedAt ? (article.updatedAt | ago) : article.createdAt | ago}}</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="actions-container" *requiredRoles="[roleType.Admin]">
            <!-- Badge -->
            <div class="flex justify-content-end">
                <span [ngClass]="articleStatus" class="chip capitalize">{{articleStatus}}</span>
            </div>

            <div class="button-bar" *ngIf="!article.isApproved && !article.isRejected">
                <p-button
                    styleClass="p-button-outlined p-button-success p-button-sm "
                    [label]="'Approve'"
                    class="edit-button"
                    icon="pi pi-check"
                    (click)="this.articleApproved.emit(article.id)"
                />
                <p-button
                    styleClass="p-button-outlined  p-button-danger  p-button-sm "
                    label="Reject"
                    class="delete-button"
                    icon="pi pi-times"
                    (click)="this.articleRejected.emit(article.id)"
                />
            </div>
        </div>
    </div>
</div>
