<ng-container *ngIf="vm$ | async as vm">
  <section class="private-page-container">
    <h1>Most Active Users Ranking</h1>

    <error-badge *ngIf="vm.error" [error]="vm.error" />
    <user-form (submitted)="onSubmit()" />
    <loading *ngIf="vm.loading" />

    <p-table
      [value]="vm.entities!"
      [tableStyle]="{ 'min-width': '50rem' }"
      styleClass="p-datatable-striped"
    >
      <ng-template pTemplate="header">
        <tr>
          <th>Username</th>
          <th>Email</th>
          <th>Name</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-u>
        <ng-container *ngIf="!vm.entities.length; else noUsers">
          <tr>
            <td>{{ $(u).username }}</td>
            <td>{{ $(u).email }}</td>
            <td>{{ $(u).firstName }} {{ $(u).lastName }}</td>
          </tr>
        </ng-container>
      </ng-template>
    </p-table>
  </section>

  <ng-template #noUsers>
    <p *ngIf="!vm.loading" class="text-center">No users available.</p>
  </ng-template>
</ng-container>
