<div class="private-page-container">
  <h1>User notifications</h1>
  <ng-container *ngIf="comments$ | async as comments">
    <error-badge *ngIf="comments.error" [error]="comments.error" />

    <ng-container *ngIf="comments.entities.length > 0; else noComments">
      <ng-container *ngFor="let comment of comments.entities">
        <comment-list-item
          *ngIf="!comment.isRejected && comment.isApproved"
          [comment]="comment"
          [canReply]="true"
          [openedReplyBox$]="openedReplyBox$"
          (commentReplied)="onCommentReplied($event)"
          (openedReplyBox)="onReplyBoxOpened($event)"
          (closedReplyBox)="onReplyBoxClosed()"
        />
      </ng-container>
    </ng-container>

    <ng-template #noComments>
      <div *ngIf="!comments.loading" class="text-center">
        No comments here... yet.
      </div>
    </ng-template>


    <loading *ngIf="comments.loading" />
  </ng-container>

</div>
