<article class="private-page-container">
  <h1>Article list</h1>
  <filter-articles (filtered)="onArticleFiltered($event)" />

  <ng-container *ngIf="this.articles$ | async as articles">
    <error-badge *ngIf="articles.error" [error]="articles.error" />

    <div *ngIf="articles.entities.length > 0; else noArticles" class="article-list-container">
      <article-list-item
              *ngFor="let article of articles.entities"
              [article]="article"
              [words$]="words$"
              [canEdit]="false"
              [canDelete]="false"
              [showFromAuthor]="true"
              [showReadMore]="true"
              (deleted)="onDeleteRequest(article)"
      />
    </div>
    <ng-template #noArticles>
      <div *ngIf="!articles.loading">No articles are here... yet.</div>
    </ng-template>

    <loading *ngIf="articles.loading"/>
    <delete-dialog (deleted)="onDeleteConfirmation($event)" />
  </ng-container>
</article>
