<p-dialog
  *ngIf="(dialogService.dialog$ | async)?.delete"
  [visible]="true"
  [modal]="true"
  [draggable]="false"
  [resizable]="false"
  [style]="{ maxWidth: '680px' }"
  [showHeader]="false"
>

  <section role="dialog" aria-labelledby="dialogTitle" class="dialog-container" *ngIf="(dialogService.payload$ | async) as payload">
    <header id="dialogTitle">
      <h1 class="color-main">{{ payload?.title }}</h1>
      <p-button
        icon="pi pi-times"
        class="close-dialog"
        aria-label="Close dialog"
        styleClass="p-button-rounded p-button-outlined p-button-text p-button-sm"
        (click)="this.closeDialog()"
      />
    </header>

    <div class="body">
      <p>{{ payload?.text }}</p>
    </div>

    <footer>
      <p-button
        icon="pi pi-times"
        label="Delete"
        aria-label="Delete dialog"
        styleClass="p-button-danger p-button-sm"
        (click)="deleted.emit(payload.data)"
      />

      <p-button
        icon="pi pi-times"
        label="Close"
        aria-label="Delete dialog"
        styleClass="p-button p-button-outlined p-button-secondary p-button-sm"
        (click)="this.closeDialog()"
      />
    </footer>
  </section>

</p-dialog>
