:host ::ng-deep .p-avatar{
  // background-color: transparent;

  .p-avatar-text{
    font-size: 1.1rem;
  }
}
.w-100{
  width: 100%;
}

.ml-n-16{
  margin-left: -9px;
}


.button-bar{
  display: flex;
  column-gap: 10px;
}


:host::ng-deep .p-button.p-button-sm{
padding: 0.421875rem 0.875rem;
  }
